<!DOCTYPE html>
<html ng-app="LoginPage" ng-controller="ForgotPasswordController">
<head>
	<title>demo1</title>
	
	<link href="resources/css/loginStyle.css" rel="stylesheet" >
	
	<!-- Angular Js Scripts -->	
	<script src="angular-1.4.7/angular.min.js"></script>
    <script src="angular-1.4.7/angular-cookies.js"></script>
    <script src="angular-1.4.7/angular-loader.min.js"></script>
</head>

<body class="gray-bg" style="background-color:#cecece;">
 		
    <div class="login">
         <form ng-submit="onSubmitClick()">
         <p style="background-color:#f5f5f5;padding:10px; color:#157fcc;">Forgot Password ?
         <a href="{{loginPath}}"><img src="images/close.png" alt="Close" style="float: right;width:16px;height:16px;"></a>
		 </p>
         
         <div style="padding:0px 20px;">
          <p>Security Question:</p>
	 	  <select name="securityQues" id="securityQues" ng-model="data.securityQuesId">
	 	    <option value="">---Please select---</option>
      		<option ng-repeat="option in data.availableOptions" value="{{option.passRecoveryId}}">{{option.question}}</option>
    	  </select>
	
	 	  <p>Security Answer:</p>
          <textarea class="text-area"  placeholder="Enter Your Answer" ng-model="securityAns" rows="4" cols="30"></textarea><br><br>
        
          <div ng-show="error" class="errorMsg">{{error}}</div>
		  <div align="center"><img id="mySpinner" src="images/ajax-loader.gif" ng-show="loading" style="margin-bottom:10px;"/></div>        
        </div>
        <div align="right">
        	<input type="submit" class="btn-blue" value="Submit"> <input type="reset" class="btn-blue" value="Reset" style="margin-right:4px;">
        </div>
        
       </form>  
    </div>
          
    <!-- Mainly scripts -->
	<script src="loginModule/ForgotPasswordController.js"></script>
</body>
</html>
